<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">

    <title>TITLE</title>

  </head>

  <body>
  <form action="/recipes" method="post">
    <div><label for="name">Recipe name</label><input type="text" name="name" id="name"></div>
    <div><label for="cook-time">Cook time</label><input type="text" name="cook_time" id="cook-time"></div>
    <div><label for="ingredients">Ingredients</label><textarea name="ingredients" id="ingredients" rows="10" cols="60"></textarea></div>
    <div><button type="submit">Create recipe</button></div>
  </form>

  </body>

</html>